<div class= "posts-container row col-md-8 col-md-offset-2">
	<h1 class="posts-header">Posts</h1>
	<% if current_user %>
		<%= link_to "Create Your Own Post", new_post_path, class: "btn btn-success add-post-button" %>
	<% else %>
		<h4>Please <%= link_to "sign in", new_user_session_path %> to add a post</h4>
	<% end %>

	<% @posts.each do |post| %>
		<div class="post">
			<h5 class="post-title col-md-12"><%= link_to post.title, post_path(post) %></h5>
			<p class="post-body"><%= post.body %></p>
			<p class="post-author col-md-12">Author: <%= link_to post.author, user_path(post.user) %></p>
		</div>
	<% end %>
</div>