<div class= "post-container row col-md-8 col-md-offset-2">
	<h4 class="post-title col-md-10 col-md-offset-1"><%= @post.title %></h4>
	<p class="post-body col-md-10 col-md-offset-1 "><%= @post.body %></p>
	<p class="post-author col-md-6 pull-left"><%= @post.author %></p>
</div>

<div class="comments-section row col-md-6 col-md-offset-3">
	<h3 class="comments-header">Comments:</h3>

		<% @post.comments.order('created_at ASC').each do |comment| %>
			<div class="comment-container">
				<h5 class="comment-author"><%= comment.author %>says...</h5>
				<p class="comment-body"><%= comment.body %></p>
			</div>
		<% end %>
	

	<% if current_user %>
		<%= render 'shared/comment_form' %>
	<% end %>
</div>