<h4><%= @post.title %></h4>
<p><%= @post.body %></p>
<p><%= @post.author %></p>


<h3>Comments:</h3>
<% @post.comments.order('created_at ASC').each do |comment| %>
	<p><%= comment.author %></p>
	<p><%= comment.body %></p>
<% end %>
